@using EPAM.Library.PL.WebPL.ViewModels.AuthorVM
@model EPAM.Library.PL.WebPL.Models.Patents.CreatePatentVM

@{
    ViewData["Title"] = "Create a patent";
}

<div>
    <form asp-controller="Patent" asp-action="Create" method="post" id="formCreate">
        <div class="form-group pt-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Create new patent</h2>
                <hr />
            </div>
            <div class="row mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="Country"></label>
                <input asp-for="Country" />
                <span asp-validation-for="Country" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="RegistrationNumber"></label>
                <input asp-for="RegistrationNumber" />
                <span asp-validation-for="RegistrationNumber" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="PublicationDate"></label>
                <input type="date" asp-for="PublicationDate" />
                <span asp-validation-for="PublicationDate" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="Pages"></label>
                <input asp-for="Pages" />
                <span asp-validation-for="Pages" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="ApplicationDate"></label>
                <input type="date" asp-for="ApplicationDate" />
                <span asp-validation-for="ApplicationDate" class="alert-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="Description"></label>
            <textarea asp-for="Description">
                <span asp-validation-for="Description" class="alert-danger"></span>
                desc
            </textarea>
        </div>
        <div class="row mb-3">
            <button type="submit" class="btn btn-primary" style="width:150px">
                Create
            </button>
            <a class="btn btn-warning" style="width:150px" asp-controller="Patent" asp-action="Index">
                Go back to list
            </a>
        </div>
    </form>

     <div class="row mb-3">
        <div class="col">
            <span asp-validation-for="Authors" class="alert-danger"></span>
            @await Component.InvokeAsync("AuthorsList")
        </div>
        <div class="col">
            @{
                Html.RenderPartial("~/Views/Author/_CreateAuthor.cshtml", new CreateAuthorViewModel{ControllerName = "Patent"});
            }
        </div>
    </div>
</div>
