@model EPAM.Library.PL.WebPL.ViewModels.AuthorVM.DisplayAuthorVM

<select class="form-select" style="width:250px" size="5" multiple form="formCreate" asp-for="Authors">
    @foreach(var author in Model.Authors)
    {
        <option>@author</option>
    }
</select>
